.color-1 {
    color:#252526;
}
.color-2 {
    color:#f4b362;
}
.color-3 {
    color:#ef73ae;
}
.color-4 {
    color:#ec3e65;
}
.color-5 {
    color:#76b6ff;
}
.color-6 {
    color:#5ff3d1;
}
.color-7 {
    color:#e6e6e6;
}
