.xiketic {
    color:#03071e;
}
.dark-sienna {
    color:#370617;
}
.rosewood {
    color:#6a040f;
}
.dark-red {
    color:#9d0208;
}
.rosso-corsa {
    color:#d00000;
}
.vermillion {
    color:#dc2f02;
}
.persimmon {
    color:#e85d04;
}
.tangerine {
    color:#f48c06;
}
.orange-web {
    color:#faa307;
}
.selective-yellow {
    color:#ffba08;
}
.off-white {
    color:#fffadb;
}
.dark-cyan {
    color:#4b9fff;
}
.lighter-brown {
    color:#665757;
}
.semi-black {
    color:#121010;
}
